html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Poppins;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 20px 0 0 0;
  overflow-x: hidden;
}

.header,
.main,
.footer {
  max-width: 1440px;
  width: 100%;
  padding: 0 130px;
  margin: auto;
}

/*---------------------------------header------------------------------------*/

.header {
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right {
  width: 145px;
  font-size: 36px;
}

.header__right img {
  width: 100%;
  border-radius: 20px;
  transition: 0.5s;
}

@media(hover:hover) {
  .header__right img:hover {
    transform: scale(1.05);
    background: rgb(220, 69, 69);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

.menu {
  color: #787282;
  list-style-type: none;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu__item,
.menu__item_active {
  transition: 0.5s;
}

.menu__item_active {
  color: #1A093E;
}

@media(hover:hover) {
  .menu__item:hover {
    cursor: pointer;
    color: #1A093E;
  }

  .menu__item:active {
    transition: 0.2s;
    transform: scale(0.9);
  }
}

/*-----------------------------------main----------------------------------*/

.section-best {
  margin-top: 100px;
  padding: 80px 0 64px 0;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-best__left h1 {
  font-size: 96px;
  color: #1A093C;
  line-height: 125%;
  margin: 0 0 40px 0;
}

.section-best__left p {
  margin: 0;
  line-height: 100%;
}

.section-best__left button {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  margin-top: 40px;
  width: 266px;
  height: 80px;
  border-radius: 50px;
  background: #3F41A6;
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  border: none;
  transition: 0.5s;
}

@media(hover:hover) {
  .section-best__left button:hover {
    cursor: pointer;
    gap: 20px;
    transform: scale(1.05);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  }

  .section-best__left button:active {
    transition: 0.2s;
    transform: scale(0.9);
  }
}

.section-best__right {
  max-width: 680px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section-best__right img {
  transition: 0.7s;
  border-radius: 20px;
}
.section-best__right img:nth-of-type(1) {
  width: 100%;
}

@media(hover:hover) {
  .section-best__right img:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

.section-why {
  width: 100%;
  padding: 120px 0;
}

.section-why h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1A093C;
  text-align: center;
  margin-bottom: 0 0 80px 0;
}

.section-why img {
  padding: 24px;
  width: 120px;
  border-radius: 100%;
  box-shadow: 0px 4px 24px -2px #00000026;
}

.advantage {
  text-align: center;
  width: 260px;
}

.advantage-container {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.section-works h2 {
  font-size: 60px;
  color: #1A093C;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.section-works p {
  font-size: 25px;
  margin: 0 0 20px 0;
  color: #000000BF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery img {
  max-width: 380px;
  width: 100%;
  height: 402px;
  object-fit: cover;
  border-radius: 50px;
  transition: 0.7s;
}

@media(hover:hover) {
  .gallery img:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

/*-----------------------------------------footer------------------------------------*/

.footer {
  min-height: 80px;
  margin: 62px auto;
  font-weight: 600;
  font-size: 20px;
  color: #3C3842;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/*-----------------------------------------media---------------------------------------------*/

@media(max-width: 1200px) {
  .footer nav,
  .footer-menu,
  .footer span {
    width: 100%;
    text-align: center;
  }

  .footer {
    margin: 20px auto 0 auto;
  }
  
  .footer-menu {
    gap: 10px;
    justify-content: center;
  }
}

@media(max-width: 1100px) {
  .header,
  .main,
  .footer {
    padding: 0 10px;
    margin: auto;
  }
}

@media(max-width: 900px) {
  .header__center {
    width: 100%;
    order: 1;
  }

  .menu {
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media(max-width: 768px) {
  .section-best__right {
    max-width: 100%;
  }

  .section-best__right img {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .header__left,
  .header__right {
    width: 100px;
    font-size: 25px;
  }
}